extends layout

block content
    h1.page-title Confirm Deletion
    form.confirm-delete(method='post', action=`/books/${book.id}/confirm`)
        p= 'Are you sure you want to delete ' + book.title +'?'
        p
            input.confirm-delete-btn(type='submit', value='Yes  ')
        p
            a.button(href='/') Cancel