extends layout

block content
    h2.error Oooops! Some of the data was invalid.
    ul.error
        each err in error
            li= err.message
    if (book !== null)
        include included/update
    else
        include included/new
