extends layout

block content
    h1 New Book
    form
        h2.error Oooops!
        ul.error
            li Author is required
            li Name is required
        p
            label(for='title')= book.title
            input#title(name='title', type='text')
        p
            label(for='author')= book.author
            input#author(name='author', type='text')
        p
            label(for='genre')= book.genre
            input#genre(name='genre', type='text')
        p
            label(for='year')= book.year
            input#year(name='year', type='text')
        p
            input(type='submit', value='Create New Book')
        p
            a.button(href='/') Cancel
