extends layout

block content
    div.wrapper
        h2.error Oooops!
        ul.error
            each err in error
                li= err.message
        if (book !== null)
            include update-book
        else
            include new-book
