extends layout

block content
    div.wrapper
        include search-form
        h1 Books
        p
            a.button.new-book(href='/books/new') Add New Title
        table.content-table-index
            thead
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
            tbody
                each book in books
                    tr
                        td
                            a(href=`/books/${book.id}`)= book.title
                        td= book.author
                        td= book.genre
                        td= book.year