doctype html
html
    head
        title Libary Management App
        link(href='/css/style.css', rel='stylesheet')
    body
        header.app-banner
            h1
                a(href='/') Library Management App
        .wrapper
            block content
