doctype html
html
    head
        title Libary Management App
        link(href='/css/style.css', rel='stylesheet')
    body
        header.app-banner
            h1 Library Management App
        block content
