doctype html
html
    head
        title Libary Management App
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(href='/css/style.css', rel='stylesheet')
    body
        header.app-banner
            h1
                a(href='/') Library Management App
        .wrapper
            block content
        script(src='/js/script.js')
