- var n = 0
- var pages = length/10
- var active_page = active
if pages > 1
    .pagination
        while n < pages
            if (n === active_page - 1)
                a.active(href=`/books/pg/${n+1}`)= ++n
            else 
                a(href=`/books/pg/${n+1}`)= ++n