//- Includes Form
form.delete-entry(method='get', action=`/books/${book.id}/delete`)
    p= "Do you want to delete " + book.title + " from the database?"
    p
        input.delete-book(type='submit', value='Yes')